*.ixs
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/bin/Debug/DockingAnalytics.exe
*.pdb
*.suo
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/bin/Release/DockingAnalytics.exe
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/bin/Release/DockingAnalytics.exe.config
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/bin/Release/DockingAnalytics.vshost.exe.config
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
USB_Accel_Project/USB_Accel_Project/DockingAnalytics/DockingAnalytics/obj/x86/Release/DockingAnalytics.exe
